<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Зеленский Николай aka Nike Z.">
    <title>Автомобильные инциденты - главная</title>
    <link href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<main class="container">
    <div class="row" style="align-content: center">
        <div class="col" style="align-content: center">
            <div class="form-signin">
                <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
                <div th:if="${not #lists.isEmpty(errorMessage)}" class="alert alert-danger" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>
                <form th:action="@{/login}" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username">
                        <label for="username">User name</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password">
                        <label for="password">Password</label>
                    </div>
                    <hr class="my-4">
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Авторизация</button>
                </form>
            </div>
        </div>
    </div>
    </main>
<script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>